* {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #A6D0DE;
  scroll-behavior: smooth;
}

/*Header css*/
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  background-color: #24424B;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

nav{
  width: 40%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

nav > a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav > a:hover{
  color: #04f318;
  background-color: #15272c;
}

main{
  background-color: white;
  margin: auto;
  width: 80%;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*select css*/
select{
  width: 245px;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  padding: 10px;
}

.div-options{
  padding: 15px;
  margin: auto;
}

/*radio css*/
ul {
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
}

li:hover{
  transform: scale(1.03);
}

li h3{
  margin: none;
}

input[type="radio"] {
  visibility: hidden;
  margin: none;
}

label {
  border: 5px solid #fff;
  display: block;
  position: relative;
  cursor: pointer;
  height: 150px;
}


label img {
  height: 150px;
}


:checked + label {
  border-color: #04f318;
}

button[type="submit"] {
  margin: 30px auto;
  background-color: #24424B;
  color: white;
  width: 245px;
  height: 35px;
  border: none;
}

button[type="submit"]:hover {
  background-color: #15272c;
  color: #04f318;
}

/**/
.div-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-table > h2{
  margin: 5px auto;
}

/*Tabela css*/
table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th, .total {
  background-color: #24424B;
  color: white;
}



footer{
  background-color: #24424B;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer a{
  color: #04f318;
  text-decoration: none;
}

#btnTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#btnTopo::before {
  content: '\2191';
}

#btnTopo:hover {
  background-color: #15272c;
  color: #04f318;
}
